/*

	Css Author: 	Ariful Ahsan
		   In Elance : https://www.elance.com/s/spondon_ahsan/
		   In Odesk : https://www.odesk.com/o/profiles/users/_~01f5d13a4660a9e535/
		   
	Website: 				
	
	This file contains any additional responsive 
	styles may need to add to allow the website 
	to flow more smoothly across more device.

*/


/* ==============================================================================
/* ====== From 320 to 479 px (poor mobile)
/* ============================================================================= */
@media (min-width: 300px) and (max-width: 390px){

}
@media (min-width: 300px) and (max-width: 479px){

}
@media (min-width: 480px) {

}
@media (max-width: 500px){
}

@media (min-width: 600px) and (max-width: 767px){

}

/* ==============================================================================
/* =====SPECIAL BEAUTIFYING FOR MAX 600 PX
/* ============================================================================= */
@media (max-width: 399px){

}
@media (min-width: 400px) and (max-width: 600px){

}

@media (min-width: 601px){
}

@media (max-width: 479px) {
	ul.find_me_ul li:nth-child(2n+1){
		clear: left;
	}
}
@media (min-width: 480px) and (max-width: 767px){
	ul.find_me_ul li:nth-child(3n+1){
		clear: left;
	}
}
/* ==============================================================================
/* ====== PRIMARY MOBILE ELEMENTS & STYLES
/* ============================================================================= */
@media (max-width: 767px){
	.omi_img{
		margin: 15px auto;	
	}
	.omi_pro{
		text-align: center;
	}
	.omi_pro ul{
		margin: 15px auto;
		display: inline-block;
	}
	.omi_address{
		text-align: center;
		padding-top: 20px;
	}
	.omi_address ul{
		display: inline-block;
	}
	.omi_address ul li{
		text-align: left;
	}
	.omi_projects ul li a{
		width: 280px;
	}
	.modal-dialog{
		width: 98%;	
	}
	ul.find_me_ul li{
		margin-bottom: 15px;
	}
}
/* ==============================================================================
/* ====== TABLET + SMALL DESKTOP
/* ============================================================================= */
@media (min-width: 768px) {
	.modal-dialog{
		width: 700px;	
	}
}
@media (min-width: 768px) and (max-width: 991px){
	
}
@media (max-width: 991px){
	.footer{
		padding-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	
}
/* ==============================================================================
/* ====== SMALL DESKTOP + MEDIUM DESKTOP
/* ============================================================================= */
@media (min-width: 992px) {
	.h_box{
		font-size: 40px;
		width:400px;
	}
	.omi_projects ul.one{
		text-align: right;
	}
	.omi_projects ul.two{
		text-align: left;
	}
}

@media (min-width: 1600px){
	#request_callback{
		right: 12%;
	}
}
@media (min-width: 1900px){
	#request_callback{
		right: 18%;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	
}
@media (max-width: 1199px){

}