.isprite {
	background-image:url(../images/isprite/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
	margin-left:auto;
	margin-right:auto;
}

.isprite-ana_mk_8 {
    width: 83px;
    height: 54px;
    background-position: -3px -3px;
}

.isprite-analytics_1 {
    width: 122px;
    height: 122px;
    background-position: -92px -3px;
}

.isprite-analytics_2 {
    width: 123px;
    height: 122px;
    background-position: -220px -3px;
}

.isprite-ask_q_i {
    width: 67px;
    height: 46px;
    background-position: -349px -3px;
}

.isprite-call_started_icon_1 {
    width: 67px;
    height: 82px;
    background-position: -422px -3px;
}

.isprite-call_started_icon_2 {
    width: 77px;
    height: 82px;
    background-position: -495px -3px;
}

.isprite-chat_e_i {
    width: 67px;
    height: 46px;
    background-position: -578px -3px;
}

.isprite-cm_1 {
    width: 55px;
    height: 45px;
    background-position: -349px -55px;
}

.isprite-cm_2 {
    width: 45px;
    height: 45px;
    background-position: -651px -3px;
}

.isprite-cm_4 {
    width: 55px;
    height: 45px;
    background-position: -578px -55px;
}

.isprite-cm_5 {
    width: 45px;
    height: 45px;
    background-position: -651px -54px;
}

.isprite-cm_6 {
    width: 62px;
    height: 45px;
    background-position: -3px -105px;
}

.isprite-co-founder {
    width: 83px;
    height: 84px;
    background-position: -410px -105px;
}

.isprite-create_account {
    width: 67px;
    height: 46px;
    background-position: -499px -106px;
}

.isprite-crm_icon_1 {
    width: 55px;
    height: 55px;
    background-position: -639px -105px;
}

.isprite-crm_icon_5 {
    width: 55px;
    height: 55px;
    background-position: -3px -166px;
}

.isprite-gtw_1 {
    width: 78px;
    height: 55px;
    background-position: -64px -166px;
}

.isprite-integrations11 {
    width: 152px;
    height: 90px;
    background-position: -148px -158px;
}

.isprite-integrations12 {
    width: 130px;
    height: 90px;
    background-position: -499px -158px;
}

.isprite-integrations13 {
    width: 102px;
    height: 90px;
    background-position: -3px -254px;
}

.isprite-integrations14 {
    width: 98px;
    height: 90px;
    background-position: -111px -254px;
}

.isprite-integrations15 {
    width: 140px;
    height: 90px;
    background-position: -215px -254px;
}

.isprite-integrations16 {
    width: 119px;
    height: 90px;
    background-position: -361px -254px;
}

.isprite-integrations17 {
    width: 119px;
    height: 90px;
    background-position: -486px -254px;
}

.isprite-integrations18 {
    width: 80px;
    height: 90px;
    background-position: -611px -254px;
}

.isprite-ks1 {
    width: 68px;
    height: 70px;
    background-position: -3px -350px;
}

.isprite-ks2 {
    width: 133px;
    height: 46px;
    background-position: -77px -350px;
}

.isprite-ks3 {
    width: 90px;
    height: 65px;
    background-position: -216px -350px;
}

.isprite-lead_to_sales_icon {
    width: 55px;
    height: 55px;
    background-position: -306px -166px;
}

.isprite-lm_tagging_3 {
    width: 46px;
    height: 45px;
    background-position: -635px -166px;
}

.isprite-logo-gray {
    width: 240px;
    height: 49px;
    background-position: -312px -350px;
}

.isprite-logo-img {
    width: 240px;
    height: 49px;
    background-position: -312px -405px;
}

.isprite-m_view {
    width: 36px;
    height: 28px;
    background-position: -367px -166px;
}

.isprite-m_view_o {
    width: 36px;
    height: 28px;
    background-position: -367px -217px;
}

.isprite-no-billing-info {
    width: 33px;
    height: 24px;
    background-position: -409px -217px;
}

.isprite-r_demo_i {
    width: 67px;
    height: 46px;
    background-position: -558px -350px;
}

.isprite-s_grip {
    width: 7px;
    height: 12px;
    background-position: -71px -105px;
}

.isprite-salesforce {
    width: 108px;
    height: 74px;
    background-position: -77px -402px;
}

.isprite-success {
    width: 138px;
    height: 95px;
    background-position: -558px -402px;
}

.isprite-success_demo {
    width: 92px;
    height: 91px;
    background-position: -3px -503px;
}

.isprite-success_li {
    width: 20px;
    height: 14px;
    background-position: -448px -217px;
}

.isprite-switch_plus {
    width: 51px;
    height: 28px;
    background-position: -635px -217px;
}

.isprite-tag_view {
    width: 43px;
    height: 26px;
    background-position: -631px -350px;
}

.isprite-tag_view_o {
    width: 43px;
    height: 26px;
    background-position: -101px -503px;
}

.isprite-touchpoint-1 {
    width: 92px;
    height: 92px;
    background-position: -150px -503px;
}

.isprite-touchpoint-10 {
    width: 92px;
    height: 92px;
    background-position: -248px -503px;
}

.isprite-touchpoint-11 {
    width: 92px;
    height: 92px;
    background-position: -346px -503px;
}

.isprite-touchpoint-12 {
    width: 92px;
    height: 92px;
    background-position: -444px -503px;
}

.isprite-touchpoint-13 {
    width: 92px;
    height: 92px;
    background-position: -542px -503px;
}

.isprite-touchpoint-14 {
    width: 92px;
    height: 92px;
    background-position: -3px -601px;
}

.isprite-touchpoint-15 {
    width: 92px;
    height: 92px;
    background-position: -101px -601px;
}

.isprite-touchpoint-16 {
    width: 92px;
    height: 92px;
    background-position: -199px -601px;
}

.isprite-touchpoint-17 {
    width: 92px;
    height: 92px;
    background-position: -297px -601px;
}

.isprite-touchpoint-18 {
    width: 92px;
    height: 92px;
    background-position: -395px -601px;
}

.isprite-touchpoint-19 {
    width: 92px;
    height: 92px;
    background-position: -493px -601px;
}

.isprite-touchpoint-2 {
    width: 92px;
    height: 92px;
    background-position: -591px -601px;
}

.isprite-touchpoint-20 {
    width: 92px;
    height: 92px;
    background-position: -702px -3px;
}

.isprite-touchpoint-21 {
    width: 92px;
    height: 92px;
    background-position: -702px -101px;
}

.isprite-touchpoint-3 {
    width: 92px;
    height: 92px;
    background-position: -697px -199px;
}

.isprite-touchpoint-4 {
    width: 92px;
    height: 92px;
    background-position: -697px -297px;
}

.isprite-touchpoint-5 {
    width: 92px;
    height: 92px;
    background-position: -702px -395px;
}

.isprite-touchpoint-6 {
    width: 92px;
    height: 92px;
    background-position: -702px -493px;
}

.isprite-touchpoint-7 {
    width: 92px;
    height: 92px;
    background-position: -689px -591px;
}

.isprite-touchpoint-8 {
    width: 92px;
    height: 92px;
    background-position: -689px -689px;
}

.isprite-touchpoint-9 {
    width: 92px;
    height: 92px;
    background-position: -800px -3px;
}
